@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Mono', monospace;
}

body {
    background-image: url(/assets/imagem/backg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content-center {
    width: 100%;
    max-width: 500px;
    height: 300px;
    margin: auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.568);
    border-radius: 50px;
}

.content-center img {
    width: 70%;
}

.content-center form {
    margin: 20px;
}

.content-center input,
.content-center button {
    width: 100%;
    padding: 10px 5px;
    border: none;
    outline: none;
}

.content-center input {
    border-bottom-color: #ff0000;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
}

.content-center input:focus {
    border-bottom-color: rgb(255, 0, 0);
}

.content-center button{
    background-color: rgb(255, 42, 42);
    color: white;
}

.content-center button:hover {
    background-color: rgb(0, 255, 0);
    color: rgb(0, 0, 0);
    cursor: pointer
}

.content-center button:active{
    background-color: orange;
}

header a {
    text-decoration: none;
    color: white;

}

header a:visited{
    color: black;
}

header a:focus {
    color: white;
}

header a:active{
    color: yellow;
}

header h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 50px 50px;
}

footer p {
    margin-top: 1em;
    font-size: .8em;
    text-align: center;
}

#text-center {
    text-align: center;
}

